html, body, .wrapper {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  background: #f0f8ff;
  font-family: 'Lato', sans-serif;
}

ul {
    list-style-type: none;
}

ul li{
    list-style-type: none;
}

#navContainer {
  margin: 0;
  width: 100%;
}

#toolbar {
  background: #fff;
}

#editor {
  background: #fff;
  height: 100%;
}

#editorContainer {

}

#editor {
  /*width: 60%;*/
  width: 100%;
}

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

#editorSection {
  height: 100%;
  background: #54656f;
}

#essayPartsWrapper {

}

#leftOptions {
  width: 20%;
}

#rightOptions {
  width: 20%;
}

#superDivEditor {
  width: 60%;
  float: left;
  position: relative;
  /*height: 700px;*/
}

#buttonsList {
  margin: 0;
  padding: 0;
}

#pizatiDashboardWrapper {
  width: 100%;
  margin: 0 auto;
}

#tutorialsWrapper {
  height: 230px;
  background: #fff;
  padding: 10px;
  overflow: auto;
}

#existingProjectsWrapper {
  padding: 10px;
  overflow: auto;
}

#tutorialsWrapper ul {
  padding: 0;
  margin: 0;
  text-align: center;
  width: 100%;
  height: 100%;
}

#tutorialsWrapper ul li {
  list-style-type: none;
  height: 180px;
  width: 12.55%;
  background: #c7ecff;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  border-radius: 10px;
  position: relative;
  float: left;
  margin-top: 13px;

  /* effects for hover */
  -webkit-transition:all 0.3s ease-out;
  -moz-transition:all 0.3s ease-out;
  -ms-transition:all 0.3s ease-out;
  -o-transition:all 0.3s ease-out;
  transition:all 0.3s ease-out;
}

#tutorialsWrapper ul li:nth-child(2) {
  width: 2px;
  margin-right: 70px;
}


#tutorialsWrapper ul li .link-category {
  height: 100%;
  width: 100%;
  display: block;
  line-height: 12.5;
}

#tutorialsWrapper ul li:hover {
    background: #83d5ff;
    -webkit-box-shadow: -1px 2px 18px 3px rgba(162,178,207,1);
    -moz-box-shadow: -1px 2px 18px 3px rgba(162,178,207,1);
    box-shadow: -1px 2px 18px 3px rgba(162,178,207,1);
    color: #fff !important;
}

#classesWrapper {
  padding: 10px;
  clear: both;
  position: relative;
  top: 15px;
}

.full {
  width: 100%;
  height: 100%;
}

.ng-scope {
  height: 100%;
}

.editor-el {
  float: left;
}

.pizati-nav-part {
  font-size: 36px;
  font-weight: 600;
  padding: 0;
}

.essay-nav-part {
  font-size: 22px;
  font-weight: 100;
  line-height: 2.7;
}

.nav-section {
  height: 60px;
  background: #366aff;
  color: #fff;
  border-right: 1px solid #fff;

}

.nav-button-section  {
  width: 30%;
  height: 100%;
  border-radius: 0;
}

.nav-name-section {
  height: 100%;
  width: 70%;
  color: #27acf1;
  line-height: 1.65;
}

.nav-el {
  float: left;

  color: white;
}

.nav-glyph {
  font-size: 40px;
  border-radius: 0;
  color: #fff;
}

.glyph-a {
  background: #366aff;
  height: 100%;
  width: 100%;
  border-radius: 0;
  position: relative;
  top: 10px;
  left: 15px;
}

.pizati-text {
  color: #fff;
}

/* Toggle Styles */



.ng-scope {

}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
      /*width: 250px;*/
      width: 20%;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

.height-100 {
  height: 100%;
}

.width-height-100 {
  width: 100%;
  height: 100%;
}

.nav-and-content {
  float: right;
  padding: 0;
  margin: 0;
  width: 80%;
}

.navbar {
  margin: 0;
  background: #fff;
}

.sub-nav {
  width: 30%;
  float: right;
  /* text-align: right; */
  padding-right: 0;
}

.text-area {
  background: #fff;
  width: 70%;
  height: 730px;
  /* position: relative; */
  margin: 0 auto;
  position: relative;
  top: 20px;
}

.text-list-ul li {
  list-style-type: none;
}

.text-list-ul {
  width: 100%;
  margin: 0;
  padding: 0;
}

.section-button-li {

}

.plus-icon {
  font-size: 20px;
}

.section-button {
  padding: 10px;
  display: block;
  width: 70%;
  margin: 0 auto;
  float: none;
}

.pizati-tutorial-wrapper {
    /*background: blue;*/
}

#editorContainer {

}

.essay-field {

}

.essay-button {
  width: 80%;
}

.essay-list-item {
  padding: 5px 5px 0px 5px;
  background: #fff;
  border: 1px solid #a2c7ff;
  font-size: 13px;
}

essay-list-item:hover {
  cursor: pointer;
}

.essays-container {
  text-align: center;
}

.essay-buttons-ul {
  padding: 0;
  margin: 0;
  float: none;
  display: block;
  margin: 0 auto;
  width: 100%;
}

.underline {
  height: 5px;
  background: #e6bebe;
  margin-top: 5px;
  width: 40%;
  margin: 5px auto 0px auto;
  border-radius: 100px 100px 10px 10px;
  -moz-border-radius: 100px 100px 10px 10px;
  -webkit-border-radius: 100px 100px 10px 10px;
  border: 0px solid #000000;
}

.essay-list-item:hover {
  cursor: pointer;
  background: #e8f9ff;
}

.footer-start {
  height: 40px;
  padding: 5px;
  width: 100%;
  background: #fff;
  position: absolute;
  bottom: 0;
}

.footer-start .btn {
  width: 40%;
  display: block;
  line-height: 1.0;
  margin: 0 auto;
  height: 30px;
  font-weight: 800;
}

.essay-author-name {
  font-style: italic;
  font-size: 12px;
  color: #abaaaa;
}

.essay-title {
  font-weight: 700;
}

.essay-part-button-li {
  padding: 5px;
  background: white;
  border: 1px solid lightgrey;
  width: 100%;
  text-align: center;
  font-weight: 700;
}

.essay-part-button {

}

.start-message-wrapper {
  margin: 0 auto;
  margin-top: 100px;
  text-align: center;
}

.tutorial-li {
}

.vertical_line {
  height: 100%;
  width: 100%;
  background: #337ab7;
  margin: 0;
}

.add-sign-wrapper {
  margin: 0 auto;
  margin-top: 40px;
}

.add-sign {
  font-size: 30px;
  padding: 30px;
  border: 1px solid #337ab7;
  border-radius: 50%;
}

.bottom-caption {
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px;
}

.bottom-caption span {
  display: block;
  margin: 0 auto;
  float: none;
}

.essay-name-wrapper {
  width: 100%;
  /*margin-top: 50%;*/
}

.essay-name-wrapper a {
  text-decoration: none;
  /*-webkit-transition:all 0.3s ease-out;
  -moz-transition:all 0.3s ease-out;
  -ms-transition:all 0.3s ease-out;
  -o-transition:all 0.3s ease-out;
  transition:all 0.3s ease-out;*/
}



.classes-sub-wrapper {
  width: 100%;
  height: 100%;
  position: relative;

}

.header-wrapper .h5 {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-weight: 600;
  height: 100%;
}

.header-wrapper {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-weight: 600;
  /* height: 100%; */
  position: relative;
  padding: 10px 10px 10px 0px;

}

.table-bordered {
  border: 1px solid #337ab7;
}

.table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
  border: 1px solid #337ab7;
}

.class-table tbody {
  background-color: #fff;
}

.class-table thead {
  background: #c7ecff;
  color: #337ab7;
}

.tutorials {
  width: 85%;
  margin: 0 auto;
  height: 100%;
}

.proper-sub-wrapper {
  width: 85%;
  margin: 0 auto;
  height: 100%;
}

.custom-form-control {
  height: 20px;
  width: 50%;
  margin: 0 auto;
}

.new-projects {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.new-projects > li {
  list-style-type: none;
  height: 180px;
  width: 12.55%;
  background: #fff;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  border-radius: 10px;
  position: relative;
  float: left;
  margin-top: 13px;
  cursor: pointer;

  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.new-projects > li:hover {
  background: #c7ecff;
  color: #fff;
}

.classes-table {
  margin-top: 10px;
}

.li-div {
  height: 100%;
}

.li-div .existing-a {
  height: 100%;
  width: 100%;
  display: block;
}

.existing-a ul {
  margin-top: 30px;
  padding: 0;
  text-align: center;
}

.existing-a li {
  display: block;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;

}

.existing-progress-bar {
  color: #337ab7;
  width: 36%;
  margin: 0 43.5px;
  border: 1px solid #337ab7;
  margin-top: 10px;
  border-radius: 50%;
  padding: 10px;
  text-align: center;
}
