<div class="wrapper" id="pizatiDashboardWrapper">
  <div id="tutorialsWrapper">
    <ul>
      <li class="tutorial-li">
        <a class="full" href="#"></a>
      </li>
      <li class="tutorial-li line-li">
        <div class="vertical_line"></div>
      </li>
      <li class="tutorial-li">
        <a class="full" href="#"></a>
      </li>
      <li class="tutorial-li">
        <a class="full" href="#"></a>
      </li>
      <li class="tutorial-li">
        <a class="full" href="#"></a>
      </li>
      <li class="tutorial-li">
        <a class="full" href="#"></a>
      </li>
      <li class="tutorial-li">
        <a class="full" href="#"></a>
      </li>
    </ul>
  </div>
</div>
