<!-- Sidebar -->
<div class="wrapper pizati-tutorial-wrapper row">
  <div id="editorContainer">
    <div class="" id ="toolbar" ng-show="vm.essayStarted">
      <div id="toolbarSub">
        <span class="ql-formats">
          <select class="ql-font"></select>
          <select class="ql-size"></select>
        </span>

        <span class="ql-formats">
          <button class="ql-bold"></button>
          <button class="ql-italic"></button>
          <button class="ql-underline"></button>
          <button class="ql-strike"></button>
        </span>

        <span class="ql-formats">
          <select class="ql-color"></select>
          <select class="ql-background"></select>
        </span>

        <span class="ql-formats">
          <button class="ql-script" value="sub"></button>
          <button class="ql-script" value="super"></button>
        </span>

        <span class="ql-formats">
          <button class="ql-header" value="1"></button>
          <button class="ql-header" value="2"></button>
          <button class="ql-blockquote"></button>
          <button class="ql-code-block"></button>
        </span>

        <span class="ql-formats">
          <button class="ql-list" value="ordered"></button>
          <button class="ql-list" value="bullet"></button>
          <button class="ql-indent" value="-1"></button>
          <button class="ql-indent" value="+1"></button>
        </span>

        <span class="ql-formats">
          <button class="ql-direction" value="rtl"></button>
          <select class="ql-align"></select>
        </span>

        <span class="ql-formats">
          <button class="ql-link"></button>
          <button class="ql-image"></button>
          <button class="ql-video"></button>
          <button class="ql-formula"></button>
        </span>

        <span class="ql-formats">
          <button class="ql-clean"></button>
        </span>
      </div>
    </div>
    <div class="whole">
      <div id="leftOptions" class="editor-el">
        <div id="essayPartsWrapper">
          <div class="start-message-wrapper" ng-show="!vm.essayStarted">
            <h4> Press "Start" to begin. </h4>
          </div>
          <ul id="buttonsList" ng-show="vm.essayStarted">
            <li ng-repeat="item in vm.customEssayButtons" class="essay-part-button-li">
              <a href="#" class="essay-part-button"> {{ item.name }} </a>
            </li>
          </ul>
        </div>
      </div>
      <div id="superDivEditor">
        <div id="editor" class="editor-el essay-field">
        </div>
        <div class="footer-start" ng-if="!vm.essayStarted">
          <button type="button" class="btn btn-info" name="button" ng-click="vm.startTutorial()">
            Start
          </button>
        </div>
      </div>
      <div id="rightOptions" class="editor-el">
        <div class="essays-container">
          <ul class="essay-buttons-ul">
            <li ng-repeat="item in vm.authorEssayDataStructure" class="essays-list-li">
              <div class="essay-list-item" ng-click="vm.showRespectveEssay(item.id)">
                <div class="essay-name">
                  <div class="essay-title">"{{item.essay.title}}"</div>
                  <div class="essay-author-name">by {{item.author.name}}</div>
                </div>
                <div class="underline">
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
