<!-- Sidebar -->
<div class="wrapper pizati-tutorial-wrapper row">
  <div id="editorContainer">
    <div class="" id = "toolbar">
      <select class="ql-size">
        <option value="small"></option>
        <!-- Note a missing, thus falsy value, is used to reset to default -->
        <option selected></option>
        <option value="large"></option>
        <option value="huge"></option>
      </select>

      <button class="ql-bold"></button>
      <button class="ql-italic"></button>

      <!-- Add subscript and superscript buttons -->
      <button class="ql-script" value="sub"></button>
      <button class="ql-script" value="super"></button>
    </div>
    <div class="whole">
      <div id="leftOptions" class="editor-el">
        dfs
      </div>
      <div id="editor" class="editor-el essay-field">
        dsf
      </div>
      <div id="rightOptions" class="editor-el">
        dsffd
      </div>
    </div>
  </div>
</div>
